* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

.caixa {
	width: 50%;
	padding: 10%;
	margin-top: 10%;


	font-size: 200%;

	background-color: #ccc;
	border: 5px solid black;  /* não aceita %*/
}

h1 {
	font-size: 250%;
}

p {
	font-size: 150%;
}